# Details of application creation, signing and notarisation: https://developer.apple.com/forums/thread/128166
name: appreleaser
on:
  push:
    tags:
      - "cosmos-v*"

jobs:

  build-and-release:
    runs-on: macos-12
    steps:

      - uses: actions/checkout@v3

      - uses: apple-actions/import-codesign-certs@v1
        with:
          p12-file-base64: ${{ secrets.MAC_INST_CERTIFICATE }}
          p12-password: ${{ secrets.MAC_INST_CERTIFICATE_PASSPHRASE }}

      - name: Download artifacts, build and sign package
        run: |
          ./compile-package-content.sh "${{ github.ref_name }}"
          productbuild --distribution Distribution --resources Resources "./${{ github.ref_name }}.pkg" --timestamp --sign "${{ secrets.MAC_INST_CERTIFICATE_CN }}"

      - name: Notarize package
        run: |
          OUT="$(xcrun notarytool submit "./${{ github.ref_name }}.pkg" --wait -f json --apple-id "${{ secrets.MAC_STORE_APPLE_ID }}" --password "${{ secrets.MAC_STORE_APP_SPECIFIC_PASSWORD }}" --team-id "${{ secrets.MAC_STORE_TEAM_ID }}")"
          echo "$OUT"
          STATUS="$(echo "$OUT" | jq -r .status)"
          ID="$(echo "$OUT" | jq -r .id)"
          if [ "$STATUS" != "Accepted" ]; then exit 1 ; fi
          LOG="$(xcrun notarytool log "$ID" --apple-id "${{ secrets.MAC_STORE_APPLE_ID }}" --password "${{ secrets.MAC_STORE_APP_SPECIFIC_PASSWORD }}" --team-id "${{ secrets.MAC_STORE_TEAM_ID }}")"
          echo "$LOG"
          ISSUES="$(echo "$LOG" | jq -r .issues)"
          if [ "$ISSUES" != "null" ]; then exit 1 ; fi

      - name: Staple package
        run: |
          xcrun stapler staple "./${{ github.ref_name }}.pkg"
          xcrun stapler validate "./${{ github.ref_name }}.pkg"

      - uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          fail_on_unmatched_files: true
          files: ${{ github.ref_name }}.pkg
